@tailwind base;
@tailwind components;
@tailwind utilities;

/* **-----Default Style-----** */
body {
  @apply font-inter text-gray-800 dark:text-white dark:bg-slate-900 bg-white;
}

/* **-----Typography-----** */
.text-default {
  @apply text-gray-800 dark:text-white;
}
.text-default-secondary {
  @apply text-gray-500 dark:text-gray-500;
}

.subtitle-1 {
  @apply text-7xl font-extrabold tracking-tighter;
}
.subtitle-2 {
  @apply text-4xl font-extrabold tracking-tight;
}
.subtitle-3 {
  @apply text-2xl font-bold tracking-tight;
}
.subtitle-4 {
  @apply text-lg font-bold;
}
.subtitle-5 {
  @apply text-base font-semibold;
}
.subtitle-6 {
  @apply text-sm font-semibold;
}

.body-1 {
  @apply text-7xl;
}
.body-2 {
  @apply text-4xl;
}
.body-3 {
  @apply text-2xl;
}
.body-4 {
  @apply text-lg;
}
.body-5 {
  @apply text-base;
}
.body-6 {
  @apply text-sm;
}

/* **-----Border-----** */
.border-default {
  @apply border-slate-900/10 dark:border-slate-300/10;
}
