@tailwind base;
@tailwind components;
@tailwind utilities;

/* **-----Default Style-----** */
body {
  @apply font-inter text-gray-800 dark:text-white dark:bg-slate-900 bg-white;
}

/* **-----Typography-----** */
.subtitle-1 {
  @apply text-7xl font-[800] tracking-tighter;
}
.subtitle-2 {
  @apply text-4xl font-[800] tracking-tight;
}
.subtitle-3 {
  @apply text-2xl font-[800] tracking-tight;
}
.subtitle-4 {
  @apply text-lg font-[600];
}
.subtitle-5 {
  @apply text-base font-[600];
}
.subtitle-6 {
  @apply text-sm font-[600];
}

.body-1 {
  @apply text-7xl;
}
.body-2 {
  @apply text-4xl;
}
.body-3 {
  @apply text-2xl;
}
.body-4 {
  @apply text-lg;
}
.body-5 {
  @apply text-base;
}
.body-6 {
  @apply text-sm;
}

/* **-----Border-----** */
.border-default {
  @apply border-slate-900/10 dark:border-slate-300/10;
}
